@if (Session["User"] == null)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false" >
            <i class="fa fa-user-circle"></i> Tài Khoản
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/login"><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
            <li><a class="dropdown-item" href="/user/register"><i class="fa fa-user-plus"></i> Đăng ký</a></li>
        </ul>
    </li>

}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button">
            @ViewBag.TenKH
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            <li>
                <a class="dropdown-item" href="/user/edit">
                    <i class="fa fa-user"></i> Sửa thông tin
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/user/EditPassword">
                    <i class="fa fa-key"></i> Đổi mật khẩu
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="@Url.Action("Logout","User")">
                    <i class="fa fa-sign-out"></i> Đăng xuất
                </a>
            </li>
        </ul>
    </li>
}
